@import '../../../node_modules/vue-datepicker-next/scss/index.scss';

.mx-datepicker-content {
  .cell {
    background: cornflowerblue;
    text-align: center;
    border-radius: 20px;
    color: #000;
    border: 1px solid #fff;

    &.today {
      color: #000;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.column.calend {
  text-align: right;
}

.mx-datepicker {
  width: 130px;
}
