.events {
  margin-top: 20px;

  .item {
    position: relative;
    margin: 0 0 15px 0;
    background: rgba(236, 183, 22, 0.49);
    border-radius: 10px;

    .content {
      width: 100%;
      padding: 15px;

      .header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        background: #fff;
        margin: -15px -15px 7px -15px;
        padding: 5px 15px;
      }

      &.opened {
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
      }

      .updated {
        display: inline-block;
        margin-left: 15px;
      }
    }

  }
}
